<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>URL Replacer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Lato|Quicksand|Nunito" rel="stylesheet" />
    <style>
        input,
        select {
            width: 80%;
        }

        .lesssize input {
            width: 20%;
        }

        body {
            font-family: "Nunito", sans-serif;
            margin: 0px 100px 0px 100px;
        }

        span {
            font-family: "Lato", sans-serif;
        }

        .dimlabel {
            font-weight: 500px;
            font-size: 2em;
            color: grey;
        }

        .fixed {
            position: fixed;
            top: 10px;
            right: 20px;
            float: right !important;
        }

        .fixed_id {
            position: fixed;
            top: 10px;
            /* right: 20px; */
            float: left !important;
        }

        .fixed_id_r {
            position: fixed;
            top: 10px;
            /* right: 20px; */
            float: right !important;
        }
    </style>
    <style>
        .tooltip {
            position: relative;
            display: inline-block;
            /* border-bottom: 1px dotted rgba(129, 227, 145, .5); */
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 200px;
            background-color: rgba(129, 227, 145, 0.5);
            color: rgba(63, 59, 50, 0.5);
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 100%;
            left: 50%;
            margin-left: -60px;

            /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
            opacity: 0;
            transition: opacity 1s;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    </style>
    <style>
        .row select {
            margin: 2px;
        }

        .alert {
            padding: 20px;
            background-color: rgba(59, 61, 75);
            color: rgba(223, 218, 218);
            font-weight: 500;
            border-radius: 10px;
        }

        .closebtn:hover {
            color: black;
        }

        .button {
            display: inline-block;
            padding: 10px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #4caf50;
            border: none;
            border-radius: 15px;
        }
    </style>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #2196F3;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module("myApp", []);
        app.controller("MyCtrl", [
            "$scope",
            function ($scope) {
                // $scope.thisone = "success";
                $scope.NitDevID = "17CBEDA2-BEF9-47D2-9CFC-C24ED460F4ED";
                $scope.NitEID = "nitheesh.ashraf@landmarkgroup.com";
                $scope.campaignnamepart = [];
                $scope.concepts = ["HB", "SM", "SP", "HC", "CP", "LS", "MX", "BS", "MC"];
                $scope.metatag = [
                    "lmhomeboxae",
                    "lmshoemartae",
                    "lmsplashae",
                    "lmhomecentreae",
                    "lmcentrepointae",
                    "lmlifestyleae",
                    "lmmaxae",
                    "lmbabyshopae",
                    "lmmothercareae"
                ];
                $scope.hometag = [
                    "homeboxstores",
                    "shoemartstores",
                    "splashfashions",
                    "homecentre",
                    "centrepointstores",
                    "lifestyleshops",
                    "maxfashion",
                    "babyshopstores",
                    "mothercarestores"
                ];
                $scope.Audiences = [
                    "ALL",
                    "MALE",
                    "FEMALE"


                ]
                // $scope.campaignnamepart[0] = "HC";
                // $scope.campaignnamepart[1] = "UAE";
                // $scope.campaignnamepart[2] = "AR";
                $scope.campaignnamepart[3] = "APPPUSH";
                $scope.campaignnamepart[4] = "";
                $scope.campaignnamepart[5] = "PROMO";
                $scope.campaignnamepart[6] = "ALL";
                $scope.campaignname = "";
                $scope.campaignnameen = "";
                $scope.campaignnamear = "";
                $scope.baseUrl = "";
                $scope.countryccode = "";
                $scope.pushtypes = ["AUTO", "PROMO", "TXN"]
                $scope.pushmode = ["WEBPUSH", "APPPUSH", "INAPP", "EMAIL", "SMS"]
                $scope.lengthofutm = 7;
                $scope.countrycodes = ["SA", "AE", "BH", "KW"];
                $scope.countrycodeswithname = ["KSA", "UAE", "BAH", "KUW"];
                $scope.country = [/([/]sa)/g, /([/]ae)/g, /([/]bh)/g, /([/]kw)/g];
                $scope.languagecodeswithname = ["EN", "AR"];
                $scope.language = [/([/]en)/g, /([/]ar)/g];
                $scope.appender = "?";
                $scope.utmmedium = "utm_source=App&utm_medium=Push&utm_campaign=";


                $scope.conceptselector = function () {
                    var countofhometag = 0;
                    while (countofhometag < 9) {
                        var found_metatag = $scope.baseUrl.match(
                            $scope.hometag[countofhometag]
                        );
                        console.log(found_metatag);
                        if (found_metatag != null) {
                            $scope.Selected_Metatag = $scope.metatag[countofhometag];
                            $scope.campaignnamepart[0] = $scope.concepts[countofhometag];
                            break;
                        } else {
                            countofhometag++;
                        }
                    }
                }

                $scope.countryselector = function () {
                    var countofcountry = 0;

                    while (countofcountry < $scope.countrycodes.length) {
                        var found_country = $scope.baseUrl.match(
                            $scope.country[countofcountry]
                        );

                        console.log(found_country);
                        if (found_country != null) {
                            $scope.countryccode = $scope.countrycodes[countofcountry];
                            $scope.campaignnamepart[1] = $scope.countrycodeswithname[
                                countofcountry];
                            break;
                        } else {
                            countofcountry++;
                        }
                    }
                }

                $scope.languageselector = function () {
                    var countoflanguage = 0;

                    while (countoflanguage < $scope.languagecodeswithname.length) {
                        var found_language = $scope.baseUrl.match(
                            $scope.language[countoflanguage]
                        );

                        console.log(found_language);
                        if (found_language != null) {
                            $scope.languageccode = $scope.languagecodeswithname[countoflanguage];
                            $scope.campaignnamepart[2] = $scope.languagecodeswithname[
                                countoflanguage];
                            break;
                        } else {
                            countoflanguage++;
                        }
                    }

                }

                $scope.showinfo = function () {
                    if (
                        $scope.baseUrl != "") {
                        $scope.elementhide = false;
                    } else {
                        $scope.elementhide = true;
                    }
                }
                $scope.capitalize = function () {
                    if ($scope.campaignnamepart[6] == "")
                        $scope.lengthofutm = 6;
                    else
                        $scope.lengthofutm = 7;

                    for (i = 0; i < $scope.lengthofutm; i++) {
                        $scope.campaignnamepart[i] = angular.uppercase($scope.campaignnamepart[i]);
                    }
                }

                $scope.generateutmname = function () {
                    $scope.capitalize();
                    $scope.conceptselector();
                    $scope.countryselector();
                    $scope.languageselector();
                    $scope.generateutmnameen();
                    $scope.generateutmnamear();
                    $scope.generateurls();
                    $scope.appenderchange();
                    $scope.campaignname = "";
                    $scope.campaignnamepart[4] = angular.uppercase($scope.campaignnamepart[4]);
                    $scope.campaignnamepart[4] = $scope.campaignnamepart[4].replace(" ", "");
                    $scope.campaignnamepart[4] = $scope.campaignnamepart[4].replace("_", "");
                    $scope.campaignnamepart[4] = $scope.campaignnamepart[4].replace(",", "");
                    $scope.campaignnamepart[4] = $scope.campaignnamepart[4].replace("-", "");
                    $scope.campaignnamepart[4] = $scope.campaignnamepart[4].replace(".", "");

                    if ($scope.campaignnamepart[6] == "")
                        $scope.lengthofutm = 6;
                    else {
                        $scope.campaignnamepart[6] = angular.uppercase($scope.campaignnamepart[6]);
                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace(" ", "");

                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace(" ", "");
                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace("_", "");
                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace(",", "");
                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace("-", "");
                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace(".", "");
                        $scope.lengthofutm = 7;
                    }
                    $scope.campaignname = "";
                    for (i = 0; i < $scope.lengthofutm; i++) {
                        if (i != 2) {

                            if (i == 0)
                                bitpadding = "";
                            $scope.campaignname += bitpadding + $scope.campaignnamepart[i];
                            var bitpadding = "-";
                            if (i == 1) {
                                bitpadding = "[";
                            } else if ($scope.campaignnamepart[i] == "" || i == 6) {
                                bitpadding = "";
                            }
                        }

                    }
                    $scope.campaignname += "]";
                    $scope.campaignname = angular.uppercase($scope.campaignname);
                    $scope.showinfo();

                }

                $scope.generateutmnameen = function () {
                    $scope.conceptselector();
                    $scope.countryselector();
                    $scope.languageselector();
                    $scope.campaignnameen = "";
                    $scope.campaignnamepart[4] = angular.uppercase($scope.campaignnamepart[4]);
                    $scope.campaignnamepart[4] = $scope.campaignnamepart[4].replace(" ", "");
                    $scope.campaignnamepart[4] = $scope.campaignnamepart[4].replace("_", "");
                    $scope.campaignnamepart[4] = $scope.campaignnamepart[4].replace(",", "");
                    $scope.campaignnamepart[4] = $scope.campaignnamepart[4].replace("-", "");
                    $scope.campaignnamepart[4] = $scope.campaignnamepart[4].replace(".", "");
                    if ($scope.campaignnamepart[6] == "")
                        $scope.lengthofutm = 6;
                    else {
                        $scope.campaignnamepart[6] = angular.uppercase($scope.campaignnamepart[6]);
                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace(" ", "");

                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace(" ", "");
                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace("_", "");
                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace(",", "");
                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace("-", "");
                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace(".", "");
                        $scope.lengthofutm = 7;
                    }
                    $scope.campaignname = "";
                    for (i = 0; i < $scope.lengthofutm; i++) {
                        $scope.campaignnamepart[2] = "EN";


                        if (i == 0)
                            bitpadding = "";
                        $scope.campaignnameen += bitpadding + $scope.campaignnamepart[i];
                        var bitpadding = "-";
                        if (i == 1) {
                            bitpadding = "[";
                        } else if ($scope.campaignnamepart[i] == "" || i == 6) {
                            bitpadding = "";
                        }


                    }
                    $scope.campaignnameen += "]";
                    $scope.campaignnameen = angular.uppercase($scope.campaignnameen);

                    $scope.showinfo();

                }

                $scope.generateutmnamear = function () {
                    $scope.conceptselector();
                    $scope.countryselector();
                    $scope.languageselector();
                    $scope.campaignnamear = "";
                    $scope.campaignnamepart[4] = angular.uppercase($scope.campaignnamepart[4]);
                    $scope.campaignnamepart[4] = $scope.campaignnamepart[4].replace(" ", "");
                    $scope.campaignnamepart[4] = $scope.campaignnamepart[4].replace("_", "");
                    $scope.campaignnamepart[4] = $scope.campaignnamepart[4].replace(",", "");
                    $scope.campaignnamepart[4] = $scope.campaignnamepart[4].replace("-", "");
                    $scope.campaignnamepart[4] = $scope.campaignnamepart[4].replace(".", "");
                    if ($scope.campaignnamepart[6] == "")
                        $scope.lengthofutm = 6;
                    else {
                        $scope.campaignnamepart[6] = angular.uppercase($scope.campaignnamepart[6]);
                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace(" ", "");

                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace(" ", "");
                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace("_", "");
                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace(",", "");
                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace("-", "");
                        $scope.campaignnamepart[6] = $scope.campaignnamepart[6].replace(".", "");
                        $scope.lengthofutm = 7;
                    }
                    $scope.campaignname = "";
                    for (i = 0; i < $scope.lengthofutm; i++) {

                        $scope.campaignnamepart[2] = "AR";
                        if (i == 0)
                            bitpadding = "";
                        $scope.campaignnamear += bitpadding + $scope.campaignnamepart[i];
                        var bitpadding = "-";
                        if (i == 1) {
                            bitpadding = "[";
                        } else if ($scope.campaignnamepart[i] == "" || i == 6) {
                            bitpadding = "";
                        }


                    }
                    $scope.campaignnamear += "]";
                    $scope.campaignnamear = angular.uppercase($scope.campaignnamear);

                    $scope.showinfo();

                }

                $scope.generateurls = function () {
                    $scope.Launch_URL_Ter = "";
                    $scope.Launch_URL_Ter_ar = "";
                    $scope.Campaign_Url_Ter = "";
                    $scope.Campaign_Url_Ter_ar = "";

                    $scope.Launch_URL_Ter = $scope.Selected_Metatag + $scope.baseUrl;
                    $scope.Launch_URL_Ter_ar = $scope.Selected_Metatag + $scope.baseUrl;
                    $scope.Campaign_Url_Ter = $scope.baseUrl + $scope.appender +
                        $scope.utmmedium + $scope
                        .campaignnameen;
                    $scope.Campaign_Url_Ter_ar = $scope.baseUrl + $scope.appender +
                        $scope.utmmedium + $scope
                        .campaignnamear;

                }

                $scope.appenderchange = function () {
                    var regex_appender = /\?/g;
                    var found_appender = $scope.baseUrl.match(regex_appender);
                    if (found_appender == null) {
                        $scope.appender = "?";
                    } else {
                        $scope.appender = "&";
                    }
                }

                $scope.generateutmname();
            }
        ]);
    </script>
    <script>
        function copyToClipboard(flagg) {
            var text = "You failed to click on the text";
            if (flagg == "2") {
                text = document.getElementById("url").textContent;
            } else if (flagg == "1") {
                text = document.getElementById("launchurl").textContent;
            } else if (flagg == "4") {
                text = document.getElementById("launchurl_ter").textContent;
            } else if (flagg == "5") {
                text = document.getElementById("url_ter").textContent;
            } else if (flagg == "6") {
                text = document.getElementById("launchurl_ter_ar").textContent;
            } else if (flagg == "7") {
                text = document.getElementById("url_ter_ar").textContent;
            } else if (flagg == "8") {
                text = document.getElementById("MyDivID").textContent;
            } else if (flagg == "9") {
                text = document.getElementById("MyEID").textContent;
            } else {
                text = document.getElementById("Campaign_Name").textContent;
            }

            var dummy = document.createElement("input");
            document.body.appendChild(dummy);
            dummy.setAttribute("value", text);
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);
        }
    </script>
</head>

<body ng-app="myApp" class="container-fluid">
    <div ng-controller="MyCtrl">
        <!-- {{campaignname}} -->

        <div class="pure-form pure-form-aligned" style="margin-top: -20px;">
            <div style="text-align: center;">
                <h1>URL Builder</h1>
                <div class="pure-control-group">
                    <label for="Launch_tag">Type</label>
                    <select class="form-control" ng-model="campaignnamepart[5]" ng-change="generateutmname();">
                        <option ng-repeat="x in pushtypes">{{ x }}</option>
                    </select>
                </div>
                <div class="pure-control-group">
                    <label for="Launch_tag">Mode</label>
                    <select class="form-control" ng-model="campaignnamepart[3]" ng-change="generateutmname();">
                        <option ng-repeat="x in pushmode">{{ x }}</option>
                    </select>
                </div>
                <div class="pure-control-group">
                    <label for="URL">URL</label>
                    <input type="text" class="form-control" ng-model="baseUrl" ng-keyup="generateutmname();"
                        id="urltype" placeholder="Paste the URL here" />
                </div>

                <div class="pure-control-group">
                    <label for="CampaignName">Campaign</label>
                    <input type="text" class="form-control" ng-model="campaignnamepart[4]" ng-keyup="generateutmname();"
                        id="utm" placeholder="Enter the campaign name here" />
                </div>

                <div class="pure-control-group">
                    <label for="URL">Audience</label>
                    <!-- <input type="text" class="form-control" ng-model="campaignnamepart[6]" ng-keyup="generateutmname();"
                        id="countrycode" placeholder="Paste the country code  here" /> -->
                    <select class="form-control" ng-model="campaignnamepart[6]" ng-change="generateutmname();">
                        <option ng-repeat="x in Audiences">{{ x }}</option>
                    </select>
                </div>

            </div>

            <div id="utmdisplay">
                <br />
                <div class="pure-controls tooltip" onclick="copyToClipboard('3')">
                    <b>
                        <label class="dimlabel" for="Campaign Name" class="pure-checkbox">Campaign Name</label>
                    </b>
                    <br />
                    <span id="Campaign_Name" for="" style="background-color:rgba(216, 216, 216, 0.5);"
                        ng-hide="elementhide">{{ campaignname }}{{countrycodeswithnameselected}}</span>
                    <span ng-hide="elementhide" class="tooltiptext">click on it to copy the campaign name</span>
                </div>
                <br />

                <div class="pure-controls tooltip" onclick="copyToClipboard('4')">
                    <span>English</span><br />
                    <b>
                        <label class="dimlabel" for="Campaign URL" class="pure-checkbox">Launch_URL_Ter
                        </label>
                    </b>
                    <br />
                    <span id="launchurl_ter" for="" style="background-color:rgba(216, 216, 216, 0.5);"
                        ng-hide="elementhide">{{ (Launch_URL_Ter.replace('https', '')).replace("http","") }}</span>
                </div>
                <br />

                <div class="pure-controls tooltip" onclick="copyToClipboard('5')">
                    <b>
                        <label class="dimlabel" for="Campaign URL" class="pure-checkbox">Campaign_Url_Ter
                        </label>
                    </b>
                    <br />
                    <span id="url_ter" for="" style="background-color:rgba(216, 216, 216, 0.5);"
                        ng-hide="elementhide">{{ (((Campaign_Url_Ter.replace("/ar/","/en/")).replace("/ar","/en")).replace("?&","?")).replace("/&","/?") }}</span>
                </div>
                <br />
                <div class="pure-controls tooltip" onclick="copyToClipboard('6')">
                    <span>Arabic</span><br />
                    <b>
                        <label class="dimlabel" for="Campaign URL" class="pure-checkbox">Launch_URL_Ter
                        </label>
                    </b>
                    <br />
                    <span id="launchurl_ter_ar" for="" style="background-color:rgba(216, 216, 216, 0.5);"
                        ng-hide="elementhide">{{ (((Launch_URL_Ter_ar.replace('https', '')).replace("http","")).replace("/en/","/ar/")).replace("/en","/ar") }}</span>
                </div>
                <br />

                <div class="pure-controls tooltip" onclick="copyToClipboard('7')">
                    <b>
                        <label class="dimlabel" for="Campaign URL" class="pure-checkbox">Campaign_Url_Ter
                        </label>
                    </b>
                    <br />
                    <span id="url_ter_ar" for="" style="background-color:rgba(216, 216, 216, 0.5);"
                        ng-hide="elementhide">
                        {{ (((Campaign_Url_Ter_ar.replace("/en/","/ar/")).replace("/en","/ar")).replace("?&","?")).replace("/&","/?") }}</span>
                </div>

                <!-- <div ng-hide="elementhide" class="alert fixed" style="text-align: center;" ng-click="prestine()">
                        <strong>Clear all</strong>
                    </div>
                    <span class="alert fixed_id" id="MyDivID" onclick="copyToClipboard('8')">{{ NitDevID }}</span><br>
                    <span class="alert fixed" id="MyEID" style="top:80px !important;"
                        onclick="copyToClipboard('9')">{{ NitEID }}</span> -->
            </div>


        </div>
    </div>
</body>

</html>