<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>URL Replacer</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
    integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Lato|Quicksand|Nunito" rel="stylesheet" />
  <style>
    input,
    select {
      width: 80%;
    }

    .lesssize input {
      width: 20%;
    }

    body {
      font-family: "Nunito", sans-serif;
      margin: 0px 100px 0px 100px;
    }

    span {
      font-family: "Lato", sans-serif;
    }

    .dimlabel {
      font-weight: 500px;
      font-size: 2em;
      color: grey;
    }

    .fixed {
      position: fixed;
      top: 10px;
      right: 20px;
      float: right !important;
    }

    .fixed_id {
      position: fixed;
      top: 10px;
      /* right: 20px; */
      float: left !important;
    }

    .fixed_id_r {
      position: fixed;
      top: 10px;
      /* right: 20px; */
      float: right !important;
    }
  </style>
  <style>
    .tooltip {
      position: relative;
      display: inline-block;
      /* border-bottom: 1px dotted rgba(129, 227, 145, .5); */
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 200px;
      background-color: rgba(129, 227, 145, 0.5);
      color: rgba(63, 59, 50, 0.5);
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -60px;

      /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
      opacity: 0;
      transition: opacity 1s;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  </style>
  <style>
    .row select {
      margin: 2px;
    }

    .alert {
      padding: 20px;
      background-color: rgba(59, 61, 75);
      color: rgba(223, 218, 218);
      font-weight: 500;
      border-radius: 10px;
    }

    .closebtn:hover {
      color: black;
    }

    .button {
      display: inline-block;
      padding: 10px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #4caf50;
      border: none;
      border-radius: 15px;
    }
  </style>
  <style>
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked+.slider {
      background-color: #2196F3;
    }

    input:focus+.slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <script>
    var app = angular.module("myApp", []);
    app.controller("MyCtrl", [
      "$scope",
      function ($scope) {
        $scope.NitDevID = "17CBEDA2-BEF9-47D2-9CFC-C24ED460F4ED";
        $scope.NitEID = "nitheesh.ashraf@landmarkgroup.com";
        $scope.metatag = [
          "lmhomeboxae",
          "lmshoemartae",
          "lmsplashae",
          "lmhomecentreae",
          "lmcentrepointae",
          "lmlifestyleae",
          "lmmaxae",
          "lmbabyshopae",
          "lmmothercareae"
        ];
        $scope.hometag = [
          "homeboxstores",
          "shoemartstores",
          "splashfashions",
          "homecentre",
          "centrepointstores",
          "lifestyleshops",
          "maxfashion",
          "babyshopstores",
          "mothercarestores"
        ];
        var d = new Date();
        $scope.day = d.getDate();
        $scope.days = [
          01,
          02,
          03,
          04,
          05,
          06,
          07,
          08,
          09,
          10,
          11,
          12,
          13,
          14,
          15,
          16,
          17,
          18,
          19,
          20,
          21,
          22,
          23,
          24,
          25,
          26,
          27,
          28,
          29,
          30,
          31
        ];
        $scope.years = [
          18,
          19,
          20,
          21,
          22,
          23,
          24,
          25,
          26,
          27,
          28,
          29,
          30,
          31
        ];
        // var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        $scope.months = [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Jul",
          "Aug",
          "Sep",
          "Oct",
          "Nov",
          "Dec"
        ];
        $scope.month = $scope.months[d.getMonth()];
        $scope.year = d.getFullYear() - 2000;
        $scope.Selected_Metatag = "";
        $scope.baseUrl = "";
        var checkDate = 0;
        if ($scope.day < 10 && checkDate != $scope.day) {
          $scope.day = "0" + $scope.day;
          checkDate = $scope.day;
          todayis = checkDate;
        }
        $scope.utmhead = "PP_";

        $scope.selectedday = $scope.day;
        $scope.showdynurl = false;
        $scope.CampaignName1 =
          "PP_" + $scope.day + $scope.month + $scope.year + "_";
        $scope.CampaignName2 = "";
        $scope.CampaignName = "";
        $scope.Campaign_Url = "";
        $scope.countrycodeswithnameselected;
        $scope.Launch_URL = "";
        $scope.elementhide = true;
        $scope.editdate = false;
        $scope.editmonth = false;
        $scope.countryccode = "AE";
        $scope.Launch_URL_Ter = "test";
        $scope.Campaign_Url_Ter = "test1";
        $scope.countrycodes = ["SA", "AE", "BH", "KW"];
        $scope.countrycodeswithname = ["KSA", "UAE", "BAH", "KUW"];
        $scope.country = [/([/]sa)/g, /([/]ae)/g, /([/]bh)/g, /([/]kw)/g];

        $scope.selectionMade = function () {
          console.log("done");
          var regex = /([/]sa|[/]bh|[/]en|[/]kw|[/]ae|[/]ar)/g;
          var regex_ar = /([/]en|[/]ar)/g;
          var regex_appender = /\?/g;
          var regex_http = /(https:[/][/]|http:[/][/])/g;
          var appendchar = "&";
          var found_next = "";
          var Launch_URL = "";
          $scope.editdate = false;
          $scope.editmonth = false;
          $scope.baseUrl_temp = $scope.baseUrl;
          var found = $scope.baseUrl.replace(regex, "/escWord");
          var found_ar = $scope.baseUrl.replace(regex_ar, "/escWordar");
          var found_appender = $scope.baseUrl.match(regex_appender);
          var countofhometag = 0;
          var countofcountry = 0;
          while (countofhometag < 9) {
            var found_metatag = $scope.baseUrl.match(
              $scope.hometag[countofhometag]
            );
            console.log(found_metatag);
            if (found_metatag != null) {
              $scope.Selected_Metatag = $scope.metatag[countofhometag];
              break;
            } else {
              countofhometag++;
            }
          }

          while (countofcountry < $scope.countrycodes.length) {
            var found_country = $scope.baseUrl.match(
              $scope.country[countofcountry]
            );

            console.log(found_country);
            if (found_country != null) {
              $scope.countryccode = $scope.countrycodes[countofcountry];
              $scope.countrycodeswithnameselected = "_" + $scope.countrycodeswithname[countofcountry];
              break;
            } else {
              countofcountry++;
            }
          }

          var found_http = $scope.baseUrl.match(regex_http);
          $scope.CampaignName = $scope.CampaignName1 + $scope.CampaignName2;
          if (
            $scope.Selected_Metatag == "lmcentrepointae" ||
            $scope.Selected_Metatag == "lmhomecentreae"
          ) {
            $scope.tempCampaign_Url = found.replace(
              "/escWord/escWord",
              "/{{UserAttribute['COUNTRY_CODE']}}/{{UserAttribute['LANG_CODE']}}"
            );
          } else {
            $scope.tempCampaign_Url = found.replace(
              "/escWord/escWord",
              "/[[COUNTRY_CODE]]/[[LANG_CODE]]"
            );
          }
          if (
            $scope.baseUrl != "" &&
            $scope.CampaignName2 != "" &&
            $scope.Selected_Metatag != ""
          ) {
            $scope.elementhide = false;
          } else {
            $scope.elementhide = true;
          }
          if (found_appender == null) {
            appendchar = "?";
          }
          if (found_http == null) {
            $scope.tempCampaign_Url = "https://" + $scope.baseUrl;
            $scope.baseUrl_temp = "https://" + $scope.baseUrl;
          }
          if (
            $scope.Selected_Metatag == "lmcentrepointae" ||
            $scope.Selected_Metatag == "lmhomecentreae"
          ) {
            $scope.Campaign_Url =
              $scope.tempCampaign_Url +
              appendchar +
              "utm_source=App&utm_medium=Push&utm_campaign=" +
              $scope.CampaignName +
              "_{{UserAttribute['COUNTRY_CODE']}}_{{UserAttribute['LANG_CODE']}}";
          } else {
            $scope.Campaign_Url =
              $scope.tempCampaign_Url +
              appendchar +
              "utm_source=App&utm_medium=Push&utm_campaign=" +
              $scope.CampaignName +
              "_[[COUNTRY_CODE]]_[[LANG_CODE]]";
          }
          $scope.Launch_URL = $scope.tempCampaign_Url.replace(
            regex_http,
            $scope.Selected_Metatag + "://"
          );

          $scope.Launch_URL_Ter = $scope.baseUrl_temp.replace(
            regex_http,
            $scope.Selected_Metatag + "://"
          );

          $scope.Launch_URL_Ter_ar = $scope.Launch_URL_Ter.replace(
            regex_ar,
            "/ar"
          );

          $scope.Campaign_Url_Ter =
            $scope.baseUrl_temp +
            appendchar +
            "utm_source=App&utm_medium=Push&utm_campaign=" +
            $scope.CampaignName +
            "_" +
            $scope.countryccode +
            "_EN";

          $scope.Campaign_Url_Ter_ar =
            $scope.baseUrl_temp +
            appendchar +
            "utm_source=App&utm_medium=Push&utm_campaign=" +
            $scope.CampaignName +
            "_" +
            $scope.countryccode +
            "_AR";
          $scope.Campaign_Url_Ter_ar = $scope.Campaign_Url_Ter_ar.replace(
            regex_ar,
            "/ar"
          );
        };
        // $scope.changeutmhead = function () {
        //   console.log($scope.utmhead);
        //   // if ($scope.utmhead == "AP_")
        //   //   $scope.utmhead = "PP_";
        //   // else
        //   //   $scope.utmhead = "AP_";
        // }

        $scope.prestine = function () {
          $scope.Selected_Metatag = "";
          $scope.baseUrl = "";
          $scope.CampaignName = "";
          $scope.countrycodeswithnameselected = "";
          $scope.Campaign_Url = "";
          $scope.Launch_URL = "";
          $scope.elementhide = true;
          $scope.day = d.getDate();

          var months = [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec"
          ];
          $scope.month = months[d.getMonth()];
          $scope.year = d.getFullYear() - 2000;
          // if ($scope.day < 10 && checkDate != $scope.day) {
          //   $scope.day = "0" + $scope.day;
          // checkDate = $scope.day;
          $scope.day = todayis;
          // }
          $scope.CampaignName1 =
            $scope.day + $scope.month + $scope.year + "_";
          $scope.CampaignName2 = "";
          $scope.CampaignName = "";
          $scope.editdate = false;
          $scope.countryccode = "AE";
        };
        $scope.setdate = function () {
          $scope.day = $scope.selectedday;
          if ($scope.day < 10 && checkDate != $scope.day) {
            $scope.day = "0" + $scope.day;
            checkDate = $scope.day;
          }
          $scope.CampaignName1 =
            "PP_" + $scope.day + $scope.month + $scope.year + "_";
          $scope.CampaignName = $scope.CampaignName1 + $scope.CampaignName2;
          // selectionMade();
        };
      }
    ]);
  </script>
  <script>
    function copyToClipboard(flagg) {
      var text = "You failed to click on the text";
      if (flagg == "2") {
        text = document.getElementById("url").textContent;
      } else if (flagg == "1") {
        text = document.getElementById("launchurl").textContent;
      } else if (flagg == "4") {
        text = document.getElementById("launchurl_ter").textContent;
      } else if (flagg == "5") {
        text = document.getElementById("url_ter").textContent;
      } else if (flagg == "6") {
        text = document.getElementById("launchurl_ter_ar").textContent;
      } else if (flagg == "7") {
        text = document.getElementById("url_ter_ar").textContent;
      } else if (flagg == "8") {
        text = document.getElementById("MyDivID").textContent;
      } else if (flagg == "9") {
        text = document.getElementById("MyEID").textContent;
      } else {
        text = document.getElementById("Campaign_Name").textContent;
      }

      var dummy = document.createElement("input");
      document.body.appendChild(dummy);
      dummy.setAttribute("value", text);
      dummy.select();
      document.execCommand("copy");
      document.body.removeChild(dummy);
    }
  </script>
</head>

<body ng-app="myApp" class="container-fluid">
  <div ng-controller="MyCtrl">
    <div style="text-align: center;">
      <h1>URL Builder</h1>

    </div>
    <!-- <div ng-click="editdate=!editdate;" style="float:right;" ng-hide="editdate">

            {{day+month+year}}
        </div> -->
    <!-- <div class="pure-form pure-form-aligned lesssize" style="float:right;" ng-show="editdate">
            <input class="form-control" type="number" ng-model="day" placeholder="Date" ng-change="setdate()">
            <input class="form-control" type="text" ng-model="month" placeholder="Month" ng-change="setdate()">
            <input class="form-control" type="number" ng-model="year" placeholder="Year" ng-change="setdate()">
            <input type="button" class="button" value="done" ng-click="selectionMade();">
        </div> -->
    <br />
    <div class="pure-form pure-form-aligned" style="margin-top: -30px;">
      <div class="pure-control-group">
        <div style="display:flex; justify-items: center; align-items: center;">
          <label for="Date">Date</label>
          <div class="row">
            <div ng-click="editdate=!editdate;" ng-hide="editdate">
              <label for="day" style="float: left;text-align: left;padding: 10px;">
                {{ day }}</label>
            </div>
            <select class="form-control" ng-model="selectedday" ng-show="editdate" ng-change="setdate();">
              <option ng-repeat="x in days">{{ x }}</option>
            </select>
            <input type="button" class="button" value="done" ng-show="editdate" ng-click="selectionMade();" />
            <div ng-click="editmonth=!editmonth;" ng-hide="editmonth">
              <label for="month" style="float: left;text-align: left;padding: 10px;">
                {{ month }}</label>
            </div>
            <select class="form-control" ng-model="month" ng-show="editmonth" ng-change="setdate()">
              <option ng-repeat="x in months">{{ x }}</option>
            </select>
            <input type="button" class="button" value="done" ng-show="editmonth" ng-click="selectionMade()" />

            <label for="year" style="float: left;text-align: left;padding: 10px;">20{{ year }}</label>
            <!-- <select class="form-control" ng-model="year" ng-change="setdate()">
                            <option ng-repeat="x in years">{{x}}</option>
                        </select> -->
          </div>
        </div>
      </div>
      <div class="pure-control-group">
        <label for="Launch_tag">Launch tag</label>
        <select class="form-control" ng-model="Selected_Metatag" ng-change="selectionMade();copyToClipboard('1');">
          <option ng-repeat="x in metatag">{{ x }}</option>
        </select>
      </div>

      <div class="pure-control-group">
        <label for="URL">URL</label>
        <input type="text" class="form-control" ng-model="baseUrl" ng-keyup="selectionMade();copyToClipboard('1');"
          id="urltype" placeholder="Paste the URL here" />
      </div>

      <div class="pure-control-group">
        <label for="CampaignName">Campaign Name</label>
        <input type="text" class="form-control" ng-model="CampaignName2"
          ng-keyup="selectionMade();copyToClipboard('1');" id="utm" placeholder="Enter the campaign name here" />
      </div>

      <div class="pure-control-group">
        <label for="URL">Country Code ( fallback )</label>
        <input type="text" class="form-control" ng-model="countryccode" ng-keyup="selectionMade();copyToClipboard('1');"
          id="countrycode" placeholder="Paste the country code  here" />
      </div>
      <div class="pure-control-group"
        style="text-align: center;justify-items: center;display: flex; align-content: center;float: right;">
        <span ng-click="showdynurl=!showdynurl">View all</span>
      </div>
      <div ng-show="showdynurl">
        <div class="pure-controls tooltip" onclick="copyToClipboard('1')">
          <b>
            <label class="dimlabel" for="Campaign URL" class="pure-checkbox">
              Launch Url</label>
          </b>
          <br />
          <span id="launchurl" for="" style="background-color:rgba(216, 216, 216, 0.5);"
            ng-hide="elementhide">{{ Launch_URL }}</span>
          <span ng-hide="elementhide" class="tooltiptext">click on it to copy the url</span>
        </div>
        <br />
        <div class="pure-controls tooltip" onclick="copyToClipboard('2')">
          <b>
            <label class="dimlabel" for="Campaign URL" class="pure-checkbox">Campaign URL</label>
          </b>
          <br />
          <span id="url" for="" style="background-color:rgba(216, 216, 216, 0.5);"
            ng-hide="elementhide">{{ Campaign_Url }}</span>
          <span ng-hide="elementhide" class="tooltiptext">click on it to copy the url</span>
        </div>
      </div>
      <br />
      <div class="pure-controls tooltip" onclick="copyToClipboard('3')">
        <b>
          <label class="dimlabel" for="Campaign Name" class="pure-checkbox">Campaign Name</label>
        </b>
        <br />
        <span id="Campaign_Name" for="" style="background-color:rgba(216, 216, 216, 0.5);"
          ng-hide="elementhide">{{ CampaignName }}{{countrycodeswithnameselected}}</span>
        <span ng-hide="elementhide" class="tooltiptext">click on it to copy the campaign name</span>
      </div>
      <br />

      <div class="pure-controls tooltip" onclick="copyToClipboard('4')">
        <span>English</span><br />
        <b>
          <label class="dimlabel" for="Campaign URL" class="pure-checkbox">Launch_URL_Ter
          </label>
        </b>
        <br />
        <span id="launchurl_ter" for="" style="background-color:rgba(216, 216, 216, 0.5);"
          ng-hide="elementhide">{{ Launch_URL_Ter }}</span>
      </div>
      <br />

      <div class="pure-controls tooltip" onclick="copyToClipboard('5')">
        <b>
          <label class="dimlabel" for="Campaign URL" class="pure-checkbox">Campaign_Url_Ter
          </label>
        </b>
        <br />
        <span id="url_ter" for="" style="background-color:rgba(216, 216, 216, 0.5);"
          ng-hide="elementhide">{{ Campaign_Url_Ter }}</span>
      </div>
      <br />
      <div class="pure-controls tooltip" onclick="copyToClipboard('6')">
        <span>Arabic</span><br />
        <b>
          <label class="dimlabel" for="Campaign URL" class="pure-checkbox">Launch_URL_Ter
          </label>
        </b>
        <br />
        <span id="launchurl_ter_ar" for="" style="background-color:rgba(216, 216, 216, 0.5);"
          ng-hide="elementhide">{{ Launch_URL_Ter_ar }}</span>
      </div>
      <br />

      <div class="pure-controls tooltip" onclick="copyToClipboard('7')">
        <b>
          <label class="dimlabel" for="Campaign URL" class="pure-checkbox">Campaign_Url_Ter
          </label>
        </b>
        <br />
        <span id="url_ter_ar" for="" style="background-color:rgba(216, 216, 216, 0.5);"
          ng-hide="elementhide">{{ Campaign_Url_Ter_ar }}</span>
      </div>
    </div>
    <div ng-hide="elementhide" class="alert fixed" style="text-align: center;" ng-click="prestine()">
      <strong>Clear all</strong>
    </div>
    <!-- <div class="fixed" style="text-align: center;" ng-click="changeutmhead()">
      <br>
      <br>
      <br>
      <label style="float: right;" class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label> 
  </div>-->
    <!-- <span class="alert fixed_id" id="MyDivID" onclick="copyToClipboard('8')">{{ NitDevID }}</span><br>
    <span class="alert fixed" id="MyEID" style="top:80px !important;" onclick="copyToClipboard('9')">{{ NitEID }}</span> -->
  </div>
</body>

</html>