<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>URL Replacer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Quicksand" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/MyApp.js"></script>
    <script src="../js/allDump.js"></script>



</head>

<body  ng-app="myApp" class="container-fluid">


    <div class="pure-control-group" ng-controller="CountCtrl">
        <div style="text-align: center;">
            <h1>Char counter</h1>
        </div>
        <br>
        <input type="text" class="form-control" ng-model="Title" id="utm" placeholder="Title">
        <span ng-hide="Title.length>40" style="color: green">{{Title.length}}</span>
        <span ng-show="Title.length>40" style="color: red">{{Title.length}}, Exceeded the limit</span>
        <br>
        <br>
        <input type="text" class="form-control" ng-model="Description" id="utm" placeholder="Description">
        <span ng-hide="Description.length>120" style="color: green">{{Description.length}}</span>
        <span ng-show="Description.length>120" style="color: red">{{Description.length}}, Exceeded the limit</span>
<br><br>
        <div class="pure-controls tooltip" ng-click="copyToClipboard('1')">
            <b>
                <label class="dimlabel" for="Title" class="pure-checkbox">Title</label>
            </b>
            <br>
            <span id="title" for="" style="background-color:rgba(216, 216, 216, 0.5);" ng-hide="Title.length>40">{{Title}}</span>
            <span ng-hide="elementhide" class="tooltiptext">click on it to copy the title</span>

        </div>
        <br>
        <br>
        <div class="pure-controls tooltip" ng-click="copyToClipboard('2')">
            <b>
                <label class="dimlabel" for="Description" class="pure-checkbox">Description</label>
            </b>
            <br>
            <span id="description" for="" style="background-color:rgba(216, 216, 216, 0.5);" ng-hide="Description.length>120">{{Description}}</span>
            <span ng-hide="elementhide" class="tooltiptext">click on it to copy the description</span>

        </div>
    </div>
</body>

</html>